.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: rem(100) 0;

    @media screen and (max-width: rem(998)) {
        padding: rem(50) 0;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    color: #ffffff;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    font-size: rem(14);
    padding: rem(15) rem(168);
    text-align: center;
}