.about {
    margin: 120px 20px 0 20px;
    display: flex;
    justify-content: space-between;

    &__left {
        width: 50%;
        padding: 0 20px;

        &-title {
            font-style: normal;
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            color: #1e212c;
        }
        &-text {
            margin: 40px 0 0 0;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #424551;
            line-height: 25.6px;
        }
        &-subtitle {
            margin: 48px 0 0 0;
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            color: #1e212c;
        }
        &-list {
            margin: 24px 0 0 0;
        }
        &-item {
            display: flex;
            align-items: center;
        }
        &-img {
            width: 16px;
            height: 16px;
            margin: 0 16px 0 0;
        }
        &-item-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
        }
    }

    &__right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;

        &-border {
            background: #ffffff;
            border: 1px solid #e5e8ed;
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
                0px 30px 24px -10px rgba(154, 156, 165, 0.05),
                0px 12px 10px -6px rgba(154, 156, 165, 0.04),
                0px 4px 4px -4px rgba(30, 33, 44, 0.03);
            border-radius: 4px;
            padding: 40px 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 495px;
        }
        &-item {
            margin: 25px 0 0 0;
        }
        &-item:first-child {
            margin: 0;
        }
        &-name {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #1e212c;
        }
        &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
            color: #ff3f3a;
        }
        &-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #787a80;
        }
        &-button {
            margin: 40px 0 0 0;
            width: 100%;
            height: 44px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 32px;
            gap: 10px;
            background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
            border-radius: 4px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 44px;
            text-align: center;
            letter-spacing: 0.5px;
            color: #ffffff;
        }
    }
}

@media (max-width: 980px) {
    .about {
        flex-direction: column;
        align-items: center;

        &__left {
            width: 80%;
            padding: 0;

            &-title {
                font-size: 38px;
            }
            &-subtitle {
                font-size: 24px;
            }
        }
        &__right {
            justify-content: center;
            margin: 60px 0 0 0;
            width: 100%;
            padding: 0;

            &-title {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 600px) {
    .about {
        &__left {
            width: 100%;

            &-title {
                font-size: 30px;
            }
            &-subtitle {
                font-size: 20px;
            }
            &-item-text {
                font-size: 14px;
            }
        }
        &__right {
            justify-content: center;
            margin: 60px 0 0 0;
            width: 100%;

            &-title {
                font-size: 20px;
            }
            &-border {
                padding: 20px 10px;
            }
        }
    }
}
