@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "./about.scss";
@import "./curator.scss";

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}
