.container {
    max-width: 1230px;
    margin: auto;
}

.section-about-us {
    margin: 80px 0 180px;
}

.section-about-us__container {
    display: flex;
}

.info {
    margin-right: 165px;
}

.info__title h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}

.info__title h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 48px;
}

.main__text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}

.secondary__text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 60px;
}

.no-colored-btn {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #FF3F3A;
    padding: 20px 40px;
    border: 1px solid #FF3F3A;
    border-radius: 4px;
    background: transparent;
    margin-right: 24px;
    transition: all 0.4s ease-in-out;
}

.no-colored-btn:hover {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: #FFFFFF;
}

.colored-btn {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding: 20px 40px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: 1px solid #FF3F3A;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
}

.colored-btn:hover {
    background: transparent;
    color: #FF3F3A;
}

.section-statisticks {
    margin-bottom: 180px;
}

.section-statisticks__container {
    display: flex;
    align-items: center;
}

.statisticks-video {
    margin-right: 100px;
}

.button-play {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.video-btn-play {
    margin-right: 16px;
}

.button-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #1E212C;
}

.statisticks__info {
    display: flex;
    align-items: center;
}

.statisticks__quantity {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    margin-right: 16px;
}

.statisticks__subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
}

.section-benefits {
    margin-bottom: 180px;
}

.section__heading {
    margin-bottom: 60px;
}

.section__subtitle {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

.section__title {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.benefits-layout {
    display: flex;
    justify-content: space-between;
}

.benefit__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #DADBDD;
    padding: 0px 22.5px;
}

.benefit__item:first-child {
    padding-left: 0;
}

.benefit__item:last-child {
    border-right: none;
    padding-right: 0;
}

.benefit__image {
    padding-bottom: 24px;
}

.benefit__caption {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    padding-bottom: 8px;
}

.benefit__text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    text-align: center;
}

.section-learning-programs {
    margin-bottom: 180px;
}

.learning-programs-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-row-gap: 30px
}

.learning-program__item {
    background: #FFFFFF;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.learning-program__item:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.learning-program__description {
    padding: 24px;
}

.program__badge {
    padding: 5px 8px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.badge-marketing {
    background: #03CEA4;
}

.badge-management {
    background: #5A87FC;
}

.badge-hr-recruting {
    background: #F89828;
}

.badge-design {
    background: #F52F6E;
}

.badge-development {
    background: #7772F1;
}

.program__text {
    max-width: 342px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    margin: 20px 0;
}

.program__link {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    transition: all 0.5s ease;
}

.arrow {
    margin-left: 8px;
    transition: all .5s ease-in-out;
}

.program__link:hover {
    color: #FF3F3A;
}

.program__link:hover .arrow {
    transform: translateX(6px);
}

.learning-program__item--soonest {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 420px;
    background: #F4F5F7;
    border-radius: 4px;
}

.soonest__item-title {
    max-width: 242px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
    text-align: center;
}

.section-studying-process {
    margin-bottom: 180px;
}

.studying-process-subtitle {
    text-align: left;
}

.studying-process-title {
    text-align: left;
}

.studying-process-container {
    display: flex;
    justify-content: space-between;
}

.steps-studying {
    display: flex;
    align-items: center;
    margin-right: 210px;
}

.steps-line {
    margin-right: 40px;
}

.step__items {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.step__item {
    margin-bottom: 32px;
}

.step__item:last-child {
    margin-bottom: 0;
}

.step__number {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 150%;
    color: #787A80;
}

.step__name {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 8px;
}

.step__description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
}