

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E212C;
    margin: 8px auto 8px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #424551;
    margin: 8px auto 16px;
}

.blog {
    margin: auto;
}

.container {
    display: flex;
    grid-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.cell-1, .cell-2, .cell-3, .cell-6, .cell-7, .cell-8 {
    width: 100%;
    max-width: 390px;
    position: relative;
}

.cell-4 {
    width: 100%;
    max-width: 705px;
    flex-grow: 1.807;
    position: relative;
}

.cell-5 {
    width: 100%;
    max-width: 495px;
    flex-grow: 1.269;
    position: relative;
}

.img-mob {
    display: none;
}

.badge {
    position: absolute;
    top: 12px;
    left: 12px;
}

.vl {
    border-left: 1px solid #999;
    padding-right: 12px;
}

.brief {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.topic-name {
    padding-right: 12px;
    font-size: 14.5px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #666;
}

.date, .time {
    padding-right: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #666;
}

.fi {
    padding-right: 9px;
    color: #666;
    transform: translateY(1px);
}





@media (max-width: 3300px) {
    .blog {
        margin: auto;
        width: 50%;
    }

}


@media (max-width: 2600px) {
    .blog {
        margin: auto;
        width: 60%;
    }

}

@media (max-width: 2100px) {
    .blog {
        margin: auto;
        width: 75%;
    }

}


@media (max-width: 1600px) {
    .blog {
        margin: auto;
        width: 90%;
    }

}


@media (max-width: 736px) {
    .blog {
        margin: auto;
        width: 95%;
    }

}

@media (max-width: 736px) {
    .blog {
        margin: auto;
        width: 95%;
    }
    .img-web {
        display: none;
    }
    .img-mob {
        display: initial;
        border-radius: 4px;
    }

}