html {
  font-size: 62.5%;
}

/* width */
footer::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
footer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
footer::-webkit-scrollbar-thumb {
  background: var(--primary);
}

:root {
  --primary: #ff3f3a;
}

/*Header*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.block-navbar-1 {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

nav {
  align-self: center;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li a {
  transition: 1s;
}

nav ul li a:hover {
  color: var(--primary);
}

.open {
  display: flex !important;
}

.block-navbar-2 {
  display: flex;
  gap: 5rem;
}

.block-navbar-2 button {
  border-radius: 0.5rem;
  color: white;
  padding: 2rem 4rem;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  transition: transform 1s;
}

.block-navbar-2 button:hover {
  transform: translateX(-15%) scale(1.2);
  font-weight: bold;
}

.person {
  display: inline-block;
  padding-right: 0.5rem;
}

.person svg {
  transition: transform 1s;
}

.person svg:hover {
  transform: scale(1.2);
}

.link-reg-log_in {
  align-self: center;
}

.link-reg-log_in a {
  transition: 1s;
}

.link-reg-log_in a:hover {
  color: var(--primary);
}

/* burger menu */

.burger {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3rem;
  height: 2rem;
  z-index: 10;
}

.burger > span {
  transform: scale(1);
  width: 100%;
  height: 2px;
  background-color: black;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

/* ----------------------- */

/*Footer*/

footer {
  display: grid;
  grid-template-columns: 1fr 40rem 10rem 12rem 16rem 30rem 1fr;
  grid-template-rows: 1fr 20%;
  column-gap: 4rem;
  height: 35rem;
  background-color: #1e212c;
  place-items: center;
  width: 100%;
  overflow-x: hidden;
}

footer > div:not(div:last-of-type) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer a:hover {
  color: var(--primary);
}

.first-col {
  grid-row: 1/2;
  grid-column: 2/3;
  gap: 2rem !important;
  padding-top: 3rem;
}

.first-col p {
  line-height: 1.2;
}

.second-col {
  grid-row: 1/2;
  grid-column: 3/4;
}

.third-col {
  grid-row: 1/2;
  grid-column: 4/5;
}

.fourth-col {
  grid-row: 1/2;
  grid-column: 5/6;
  padding-bottom: 6rem;
}

.fifth-col {
  grid-row: 1/2;
  grid-column: 6/7;
}

.fifth-col p {
  line-height: 1.3;
}

.fifth-col button {
  position: relative;
  background-color: #474e68;
  padding-right: 50%;
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  transition: transform 1s;
  border: 1px solid #b2b2b2;
}

.fifth-col button:hover {
  transform: scale(1.1);
}

.fifth-col .span-right-arrow {
  position: absolute;
  right: 1rem;
}

footer > div {
  color: #b7b7b7;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer h2 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.block-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  margin-top: 1rem;
}

.list-social-media-icons {
  display: flex;
  gap: 4rem;
}

.list-social-media-icons svg {
  transition: transform 1s;
  cursor: pointer;
}

.list-social-media-icons svg:hover {
  transform: translateX(-30%) scale(1.3);
}

.end-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  grid-row: 2/3;
  grid-column: 1/8;
  background-color: #424551;
  align-self: flex-end;
  height: 5vh;
}

.span-heart svg {
  animation: heart 1s infinite;
  animation-play-state: running;
  cursor: pointer;
}

.gtt a:hover {
  text-decoration: underline;
}

.heart-animation {
  animation-play-state: paused !important;
}

@media screen and (width < 1300px) {
  /* grid-template-columns: 1fr 40rem 10rem 12rem 16rem 30rem 1fr;
  grid-template-rows: 1fr 20%; */

  footer {
    grid-template-columns: 1fr 30rem 20rem 20rem 1fr;
    grid-template-rows: 25rem 20rem auto;
    height: auto;
  }

  .block-data {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .first-col {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .second-col {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .third-col {
    grid-row: 1/2;
    grid-column: 4/5;
  }

  .fourth-col {
    grid-row: 2/3;
    grid-column: 2/3;
    padding-bottom: 0;
  }

  .fifth-col {
    grid-row: 2/3;
    grid-column: 3/5;
  }

  .end-footer {
    grid-row: 3/4;
    grid-column: 1/6;
  }
}

@media screen and (width < 950px) {
  nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  nav {
    display: none;
    position: fixed;
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;
    z-index: 20;
    /* overflow-y: auto; */
    animation: burgerAnimation 0.5s;
    background-color: #424551;
    padding: 3rem 1rem;
  }
  nav ul {
    flex-direction: column;
    color: white;
    gap: 5rem;
  }
}

@media screen and (width < 880px) {
  footer {
    grid-template-columns: 1fr 30rem 20rem 1fr;
    grid-template-rows: 30rem 20rem 20rem auto;
  }

  .block-data {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .first-col {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .second-col {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .third-col {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .fourth-col {
    grid-row: 2/3;
    grid-column: 3/4;
    padding-bottom: 0;
  }

  .fifth-col {
    grid-row: 3/4;
    grid-column: 2/4;
  }

  .end-footer {
    grid-row: 4/5;
    grid-column: 1/5;
  }
}

@media screen and (width < 610px) {
  footer {
    grid-template-columns: 1fr 30rem 1fr;
    grid-template-rows: 30rem 16rem 20rem 15rem auto;
    row-gap: 2rem;
  }

  .block-data {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .first-col {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .second-col {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .third-col {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .fourth-col {
    grid-row: 4/5;
    grid-column: 2/3;
    padding-bottom: 0;
  }

  .fifth-col {
    grid-row: 5/6;
    grid-column: 2/3;
  }

  .end-footer {
    grid-row: 6/7;
    grid-column: 1/4;
    height: 6vh;
    font-size: 1.2rem;
  }

  .block-navbar-2 button {
    display: none;
  }
}

@keyframes heart {
  0% {
    transform: scale(1.5) translateY(-10%);
  }
  100% {
    transform: scale(1) translateY(10%);
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
