.container1 {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1260px;
  overflow: hidden;
}

.title_f1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text_f1 {
  font-weight: 400;
  color: #A5A6AB;
  font-size: 12px;
  line-height: 150%;
}

.link_f1 {
  color: #A5A6AB;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.footer {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  background: #1E212C;
}
.footer__title {
  margin: 0 0 12px;
}
.footer__link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__link:hover {
  color: #FF3F3A;
}
.footer__link_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 5px;
}
.footer__link_desc img {
  margin: 0 10px 0 0;
}
.footer__text {
  margin: 0 0 35px;
}
.footer__logo {
  margin: 0 0 25px;
}
.footer__top {
  padding: 80px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.footer__column {
  width: 100%;
  margin: 0 10px 50px;
}
.footer__column_01, .footer__column_05 {
  max-width: 300px;
}
.footer__column_02, .footer__column_03, .footer__column_04 {
  max-width: 150px;
}
.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__soc-link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__soc-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__list li {
  margin: 0 0 5px;
}
.footer__input {
  margin: 0 0 12px;
  padding: 0 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.footer__input:focus-within {
  -webkit-box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2);
}
.footer__input input {
  font-size: 16px;
  padding: 8px 5px 8px 12px;
}
.footer__input input::-webkit-input-placeholder {
  font-size: 12px;
}
.footer__input input::-moz-placeholder {
  font-size: 12px;
}
.footer__input input:-ms-input-placeholder {
  font-size: 12px;
}
.footer__input input::-ms-input-placeholder {
  font-size: 12px;
}
.footer__input input::placeholder {
  font-size: 12px;
}
.footer__input input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.footer__input input:focus::-moz-placeholder {
  opacity: 0;
}
.footer__input input:focus:-ms-input-placeholder {
  opacity: 0;
}
.footer__input input:focus::-ms-input-placeholder {
  opacity: 0;
}
.footer__input input:focus::placeholder {
  opacity: 0;
}
.footer__input-btn {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__input-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__input-btn:before, .footer__input-btn:after {
  content: "";
  display: inline-block;
}
.footer__input-btn:before {
  height: 1px;
  width: 12px;
  background: #FFFFFF;
}
.footer__input-btn:after {
  position: absolute;
  top: 48%;
  right: 3px;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.footer__copiright {
  margin: 0 5px 0 0;
}
.footer__bottom {
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.2);
}
.footer__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bottom-container img {
  -webkit-animation: heart 1s infinite;
          animation: heart 1s infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  margin: 0 3px;
}
.hidden {
  display: none;
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(1.5) translateY(-10%);
            transform: scale(1.5) translateY(-10%);
  }
  100% {
    -webkit-transform: scale(1) translateY(10%);
            transform: scale(1) translateY(10%);
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(1.5) translateY(-10%);
            transform: scale(1.5) translateY(-10%);
  }
  100% {
    -webkit-transform: scale(1) translateY(10%);
            transform: scale(1) translateY(10%);
  }
}
.header-main {
  background: #FEDCD1;
}
.header-main__container {
  background: #FEDCD1;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main__menu {
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68%;
          flex: 0 1 68%;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.header-main__burger {
  display: none;
}
.header-main__nav {
  width: 100%;
  max-width: 430px;
}
.header-main__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-main__nav-link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-main__nav-link:hover {
  color: #FF3F3A;
}
.header-main__btn {
  margin: 0 30px 0 0;
  white-space: nowrap;
  padding: 17px 40px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: #FFFFFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-main__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header-main__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 130px;
          flex: 0 0 130px;
  margin: 0 50px 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-main__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header-main__reg {
  margin: 0 10px 0 0;
  white-space: nowrap;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-main__reg:hover {
  color: #FF3F3A;
}
.header-main__reg img {
  margin: 0 10px 0 0;
}
@media (max-width: 992px) {
  .header-main {
    position: relative;
    z-index: 15;
  }
  .header-main__btn {
    margin: 0;
  }
  .header-main__butger-icon {
    padding: 10px;
  }
  .header-main__butger-icon span {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
    height: 2px;
    width: 30px;
    background: #ffffff;
  }
  .header-main__butger-icon span:nth-child(1) {
    margin: 0 0 8px;
  }
  .header-main__butger-icon span:nth-child(3) {
    margin: 8px 0 0;
  }
  .header-main__burger {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main__burger_active span {
    display: block;
  }
  .header-main__burger_active span:nth-child(2) {
    display: none;
  }
  .header-main__burger_active span:nth-child(1) {
    margin: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header-main__burger_active span:nth-child(3) {
    margin: 0;
    -webkit-transform: rotate(-45deg) translate(1px, -2px);
            transform: rotate(-45deg) translate(1px, -2px);
  }
  .header-main__logo {
    margin: 0;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 130px;
  }
  .header-main__container {
    overflow: visible;
  }
  .header-main__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-main__nav {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 30px 0 50px;
    left: 0;
    background-color: #FEDCD1;
    position: absolute;
    top: -100vh;
    min-height: 100%;
    width: 100vw;
    max-width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
  }
  .header-main__nav_active {
    top: 69px;
  }
  .header-main__nav-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-main__nav-list li {
    margin: 0 0 20px;
  }
}
@media (max-width: 768px) {
  .header-main__container {
    padding: 10px 15px;
  }
  .header-main__logo {
    margin: 0 0 30px;
  }
  .header-main__nav_active {
    top: 54px;
  }
  .header-main__btn {
    padding: 14px 10px;
  }
}