@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
.blog__btn-link:hover, .blog__btn-link, .reviews-slider__btn:hover, .reviews-slider__btn, .team-slider__btn:hover, .team-slider__btn, .slide-socials__img:hover, .slide-socials__img, .slide-socials, .team-slide__image::after, .team-slide__image, .team-slide:hover .team-slide__image::after, .team-slide:hover .slide-socials, .team-slide, body {
  transition: all 0.5s ease-out;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  max-width: 1920px;
  background-color: #fff;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  max-width: 83.125rem;
  width: 100%;
  padding: 0 3.125rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 1.875rem;
  }
}
@media (max-width: 390px) {
  .container {
    padding: 0 1rem;
  }
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 2.875rem;
  line-height: 1.3;
  font-weight: 900;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 390px) {
  .title {
    font-size: 1.5625rem;
  }
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 992px) {
  .subtitle {
    text-align: center;
  }
}
@media (max-width: 390px) {
  .subtitle {
    font-size: 0.875rem;
  }
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
}

.visualy-hidden {
  display: none;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.certificate {
  padding-top: 7.5rem;
}
@media (max-width: 992px) {
  .certificate {
    padding: 4.375rem 0;
  }
}
@media (max-width: 768px) {
  .certificate {
    padding: 3.125rem 0;
  }
}

.certificate__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  position: relative;
}
@media (max-width: 992px) {
  .certificate__wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
  }
}
@media (max-width: 768px) {
  .certificate__wrapper {
    row-gap: 2.5rem;
  }
}

.certificate-info {
  max-width: 27.5rem;
  padding-bottom: 4rem;
}
@media (max-width: 992px) {
  .certificate-info {
    padding-bottom: 0;
  }
}

.certificate__title {
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .certificate__title {
    margin-bottom: 1.875rem;
  }
}

.certificate__text {
  max-width: 24.6875rem;
  line-height: 1.6;
  color: #424551;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .certificate__text {
    margin: 0 auto;
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 390px) {
  .certificate__text {
    font-size: 0.875rem;
    margin-bottom: 0.9375rem;
  }
}

.certificate__box {
  max-width: 24.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
@media (max-width: 992px) {
  .certificate__box {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .certificate__box {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.9375rem;
  }
}

.certificate__photo {
  border: 1px solid #E5E8ED;
  box-shadow: 2px 12px 10px 0 rgba(154, 156, 165, 0.16);
}
.certificate__photo::after {
  content: "";
  background: url(../../images/main-page/decor-certificate.svg) no-repeat;
  position: absolute;
  right: 180px;
  bottom: -90px;
  width: 143px;
  height: 105px;
}
@media (max-width: 390px) {
  .certificate__photo::after {
    content: none;
  }
}

.certificate__photo-img {
  position: relative;
  z-index: 2;
}

.team {
  background-color: #F4F5F6;
  padding: 10.375rem 0 11.25rem;
  margin-top: -45px;
}
@media (max-width: 992px) {
  .team {
    padding: 4.375rem 0;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .team {
    padding: 3.125rem 0;
  }
}

.team-block {
  position: relative;
}
.team-block::before {
  content: "";
  background: url(../../images/main-page/decor-team.svg) no-repeat;
  position: absolute;
  top: -86px;
  left: 200px;
  width: 41px;
  height: 41px;
}
@media (max-width: 992px) {
  .team-block::before {
    top: -24px;
    left: 28px;
  }
}
@media (max-width: 390px) {
  .team-block::before {
    content: none;
  }
}
.team-block::after {
  content: "";
  background: url(../../images/main-page/decor-team-2.svg) no-repeat;
  position: absolute;
  right: 0px;
  bottom: 100px;
  width: 78px;
  height: 96px;
}
@media (max-width: 390px) {
  .team-block::after {
    content: none;
  }
}

.team__title {
  margin-bottom: 3.75rem;
}
@media (max-width: 768px) {
  .team__title {
    margin-bottom: 1.875rem;
  }
}

.team-slider__box {
  position: relative;
  max-width: 76.875rem;
}

.team-slider {
  max-width: 76.875rem;
}

.team-slide {
  cursor: pointer;
}
.team-slide:hover .slide-socials {
  opacity: 1;
}
.team-slide:hover .team-slide__image::after {
  opacity: 1;
}

.team-slide__inner {
  position: relative;
}

.team-slide__image {
  background: #FFCF2D;
  padding: 1.25rem 1.25rem 0 1.25rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.team-slide__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.7682) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  opacity: 0;
}

.slide-socials {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0;
}

.slide-socials__img {
  opacity: 0.6;
}
.slide-socials__img:hover {
  opacity: 1;
}

.team-slider__slide-info {
  text-align: center;
}

.team-slider__slide-title {
  color: #424551;
  margin-bottom: 0.6rem;
}

.team-slider__slide-text {
  color: #787A80;
  line-height: 1.6;
}

.team-slider__btns {
  position: absolute;
  right: -12px;
  top: -98px;
  display: flex;
}

.team-slider__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  margin-top: 0;
  top: 0;
  width: 48px;
  height: 48px;
}
.team-slider__btn:hover {
  background: #FF3F3A;
}
.team-slider__btn:hover .team-slider__btn-img {
  filter: brightness(0) invert(1);
}
@media (max-width: 768px) {
  .team-slider__btn {
    display: none;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.reviews {
  background-color: #F4F5F6;
  padding-bottom: 6.25rem;
  position: relative;
}
.reviews::before {
  content: "";
  background: url(../../images/main-page/decor-review.svg) no-repeat;
  position: absolute;
  top: -64px;
  left: 77px;
  width: 145px;
  height: 145px;
}
@media (max-width: 390px) {
  .reviews::before {
    content: none;
  }
}
.reviews::after {
  content: "";
  background: url(../../images/main-page/decor-review-2.svg) no-repeat;
  position: absolute;
  width: 129px;
  height: 160px;
  right: 0;
  bottom: 0;
}
@media (max-width: 390px) {
  .reviews::after {
    content: none;
  }
}
@media (max-width: 992px) {
  .reviews {
    padding-bottom: 4.375rem;
  }
}
@media (max-width: 768px) {
  .reviews {
    padding-bottom: 3.125rem;
  }
}

.reviews-container {
  padding-bottom: 3.8125rem;
}

.reviews__subtitle {
  text-align: center;
  position: relative;
  z-index: 2;
}

.reviews__title {
  max-width: 29.4375rem;
  margin-bottom: 3.75rem;
  text-align: center;
  position: relative;
  z-index: 2;
}
.reviews__title::after {
  content: "";
  background: url(../../images/main-page/decor-review-title.svg) no-repeat;
  position: absolute;
  top: 0;
  right: -70px;
  width: 87px;
  height: 47px;
  z-index: -1;
}
@media (max-width: 768px) {
  .reviews__title::after {
    content: none;
  }
}
@media (max-width: 768px) {
  .reviews__title {
    margin-bottom: 1.875rem;
  }
}

.reviews-slider__box {
  position: relative;
}

.reviews-slider {
  max-width: 63.75rem;
  background: #fff;
  margin: 0 auto;
}

.reviews__slide {
  padding: 4rem 6.5625rem;
}
@media (max-width: 768px) {
  .reviews__slide {
    padding: 2.1875rem 3.125rem;
  }
}
@media (max-width: 390px) {
  .reviews__slide {
    padding: 1.25rem 1.25rem;
  }
}

.reviews__blockquote {
  padding-left: 3.625rem;
  overflow-x: hidden;
}
.reviews__blockquote::before {
  content: "";
  background: url(../../images/main-page/quotes.svg);
  position: absolute;
  top: 64px;
  left: 105px;
  width: 28px;
  height: 20px;
}
@media (max-width: 768px) {
  .reviews__blockquote::before {
    top: 35px;
    left: 50px;
  }
}
@media (max-width: 390px) {
  .reviews__blockquote::before {
    top: 20px;
    left: 20px;
  }
}
.reviews__blockquote > p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #424551;
}
@media (max-width: 768px) {
  .reviews__blockquote > p {
    font-size: 1.125rem;
  }
}
@media (max-width: 390px) {
  .reviews__blockquote > p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .reviews__blockquote {
    padding-left: 2.625rem;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.user > img {
  border-radius: 50%;
}
.user > div > cite {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 700;
  font-style: normal;
  color: #1E212C;
  margin-bottom: 0.25rem;
}
@media (max-width: 390px) {
  .user > div > cite {
    font-size: 0.875rem;
  }
}
.user > div > p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #787A80;
}
@media (max-width: 390px) {
  .user > div > p {
    font-size: 0.75rem;
  }
}

.reviews-slider__btn {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.reviews-slider__btn:hover {
  background: #FF3F3A;
}
.reviews-slider__btn:hover .reviews-slider__btn-img {
  filter: brightness(0) invert(1);
}
@media (max-width: 768px) {
  .reviews-slider__btn {
    display: none;
  }
}

.reviews-swiper-button-prev {
  left: -15px;
}

.reviews-swiper-button-next {
  right: -10px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -64px;
}

.swiper-pagination-bullet {
  background: #B3B7BC;
  opacity: 1;
  width: 30px;
  height: 1px;
  border-radius: initial;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}

.swiper-pagination-bullet-active {
  background: #424551;
}

.blog {
  padding: 7.5rem 0 11.25rem;
}
@media (max-width: 992px) {
  .blog {
    padding: 4.375rem 0;
  }
}
@media (max-width: 768px) {
  .blog {
    padding: 3.125rem 0;
  }
}

.blog-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3.75rem;
}
@media (max-width: 768px) {
  .blog-block {
    margin-bottom: 1.875rem;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .blog__title {
    margin-bottom: 1.875rem;
  }
}

.blog__btn-link {
  width: 9.9375rem;
  padding: 0 2.5rem;
  background: linear-gradient(to bottom, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
  border-radius: 4px;
  line-height: 3.25;
  letter-spacing: 0.5px;
}
.blog__btn-link:hover {
  box-shadow: 4px 4px 10px rgba(255, 63, 58, 0.6);
}
@media (max-width: 768px) {
  .blog__btn-link:hover {
    box-shadow: none;
  }
}

.blog-article__img-link {
  position: relative;
  margin-bottom: 1rem;
  display: inline-block;
  border-radius: 4px;
}
.blog-article__img-link > p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #424551;
  padding: 1px 9px 1px 28px;
  background: #fff;
  position: absolute;
  top: 13px;
  left: 12px;
}
.blog-article__img-link > p::before {
  content: "";
  background: url(../../images/main-page/audio.svg);
  position: absolute;
  width: 16px;
  height: 16px;
  left: 8px;
  top: 3px;
}

.blog-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.875rem;
}
@media (max-width: 992px) {
  .blog-articles {
    display: block;
  }
}

.blog-article {
  max-width: 24.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 992px) {
  .blog-article {
    margin: 0 auto 70px;
  }
  .blog-article:last-child {
    margin-bottom: 0;
  }
}

.blog-article__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

.blog-article__box-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}

.blog-article__info {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #787A80;
  display: flex;
}
.blog-article__info > a {
  padding-right: 0.75rem;
}
.blog-article__info > time {
  position: relative;
  padding-left: 2.25rem;
  padding-right: 0.75rem;
}
.blog-article__info > time::before {
  content: "";
  background: url(../../images/main-page/calendar.svg);
  position: absolute;
  width: 16px;
  height: 16px;
  left: 11px;
  top: 3px;
}
.blog-article__info > span {
  position: relative;
  padding-left: 2.25rem;
}
.blog-article__info > span::before {
  content: "";
  background: url(../../images/main-page/clock.svg);
  position: absolute;
  width: 16px;
  height: 16px;
  left: 11px;
  top: 3px;
}

.blog-article__links > h4 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1E212C;
}
.blog-article__links > p {
  line-height: 1.6;
  color: #424551;
  margin: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-article__links > span {
  line-height: 1.6;
  font-weight: 700;
  color: #1E212C;
  margin-top: 1rem;
  display: inline-block;
  position: relative;
}
.blog-article__links > span::before {
  content: "";
  background: url(../../images/main-page/blog-array.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0px;
  right: -30px;
}/*# sourceMappingURL=main-page.css.map */